*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position:fixed;
    top: 0;
    z-index: 10;
    left: 0;
    right: 0;

}
main{
    margin-top: 3.5rem;
}
.container{
    width: 920px;
    margin: 0 auto;
}
.nav-bar{
    background-color: rgb(253, 104, 50);
    padding: 0.5rem;
}
.row{
    padding-top: .5rem;
    display: flex;
    justify-content: space-between;
}
.links-container ul{
    list-style: none;
    display: flex;  
}
.links-container ul a{
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}

.logo-container{
    width: 10%;
    
}
.logo-container img{
    width: 100%;
}

.links-container i{
    color: white;
}
.item-container{
    display: flex;
    margin: 2rem 0;
    gap: 10px;
}
.item{
    position: relative;
    overflow: hidden;
    width: 30%;
    flex-grow: 1;
    
}
.img-container{
    width: 100%;
    
}
.img-container img{
    width: 100%;
    display: block;
}
.second-img-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1;
    display: none;
    align-items: center;
    
}
.second-img-container img{
    width: 100%;
    
}
.item-text-container{
    margin-top: 0.5rem;
}
.item-text-container h5{
    display: inline-block;
    color: red;

}
.crossed{
    text-decoration: line-through;
    font-size: 12px;
    display: inline-block;
}
.item:hover .second-img-container{
    display: flex;
}

.favorite{
    color: black;
    padding: 0.2rem 0.5rem ;
    background-color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 1%;
    right: 0;
}

.heart:hover .favorite{
    color: red;
}

.discount-container{
    padding: 0.5rem;
    font-size: .8rem;
    background-color: red;
    color: white;
    position: absolute;
    left: 0;
    bottom: 15%;
}
.material-container{
    padding: 0.5rem;
    font-size: .8rem;
    background-color: rgb(9, 140, 28);
    color: white;
    position: absolute;
    left: 18%;
    bottom: 15%;
}
footer{
    background-color: rgb(19, 19, 19);
}

.end-text{
    color: white;
    padding-top: 1.5rem;
}
.end-text.right{
    font-size: 13px;
    text-align: center;
}
.end-text ul{
    list-style: none;
    display: flex;  
    padding: 0.5rem 0;
}
.end-text ul a{
    text-decoration: none;
    color: white;
    padding-right: 0.5rem;
    
}
.end-text.right ul a{
    padding: 0.3rem;
}
.end-text.left a{
    font-size: 13px;
    text-align: left;
}